/** global varibles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgb(0, 0, 0);
    --color-red: rgb(41, 41, 41);
    --bg-color: rgba(141, 141, 141, 0.459);
    --rowdies: "Rowdies", sans-serif;
    --roboto: "Roboto", sans-serif;
    --open-sans: "Open Sans, sans-serif";
    /* mobile view */
    --h1: 1.25rem;
    --h2: 1rem;
    --p: 0.75rem;
    --b: 0.5rem;
    --pad5: 5px;
    --pad10: 10px;
    --pad15: 15px;
    /* desktop view */
    --pd: 0.615rem; 
    --h2d: 1rem;

}

/** structure of html **/

body {
    background-color:rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: var(--pad5);
    width: 100%;
    height: auto;
    margin: 0 auto;
}

header {
    background-color: var(--color-blue);
    color: white;
    margin: 0;
    padding: var(--pad15);
    text-align: center;
    font-family: var(--rowdies);
    font-size: var(--h1);
    border-bottom: var(--pad10) solid var(--color-red);
}

footer {
    display: block;
    text-align: center;
    background-color: var(--color-red);
    color: white;
    padding: var(--pad10);
    border-top: var(--pad10) solid var(--color-blue);
}

/** elements **/

p {
    font-size: var(--p);
    font-family: var(--open-sans);
}

fieldset {
    padding: var(--pad15);
    border-radius: 6px;
    background-color:rgba(141, 141, 141, 0.411);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pad5);
}

input[type="textarea"] {
    width: 100%;
    min-height: 120px;
    resize: vertical;
}

label {
    font-family: var(--rowdies);
}

input[type="submit"] {
    background-color:rgb(0, 0, 0);
    color:blanchedalmond;
    font-family: var(--roboto);
}

input[type="submit"]:hover {
    background-color:rgb(240, 240, 240);
    color:rgb(0, 0, 0);
    font-family: var(--rowdies);
}

input[type="text"], input[type="date"], select, textarea {
    border-radius: 6px;
    font-family: var(--open-sans);
}

input[type="date"] {
    width: 30%;
    text-align: center;
}

/** main elements **/

#stars {
    display: grid;
    grid-template: 1fr 1fr / repeat(5, 1fr);
    text-align: center;
}

#required, #optional {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pad15);
}

#checks, #textBox, #name {
    display: grid;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 600px) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }

    header, footer {
        max-width: 100%;

    }

    main {
        max-width: 50%;
        height: 100%;
    }

    header {
        text-align: start;
    }

    input[type="submit"] {
        width: 100%;
        height: 100%;
        font-size: var(--h2);
    }

    #submitbutton {
        justify-self: center;
    }

    input[type="text"] {
        max-width: 70%;
    }

}